.modalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  z-index: 1000;
  display: flex;
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 40vw;
}

.modalWindow form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modalWindow input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  font-size: 1em;
}

.modalWindow button {
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
  width: 100%;
}

.modalWindow div {
  width: 100%;
}

.modalWindow button:hover {
  background-color: #0056b3;
}

.modalWindow p {
  text-align: center;
  margin-top: 1em;
  color: #555;
}

.modalWindow span {
  color: red;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
