.page {
  min-height: 75vh;
  padding: 2.5vh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 75vh;
}

.page .btnSlimmer {
  width: 16rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  background-color: #002c5d;
  color: white;
}

.page .btnSlimmer:hover {
  background-color: #b7c7d6;
  color: black;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
